{{ define "main" }}

{{ partial "projecthero.html" . }}

<section id="project" class="section page-section bg-dark-1 light-content">
    <div class="container relative">
        <!-- <h1 class="hs-title-2 font-alt uppercase mb-40">{{ .Title }}</h1> -->
        
        <div class="row mb-80 mb-sm-40">
            <div class="col-md-6 mb-sm-40">
                <h2 class="h3 font-alt mb-20">Project Details</h2>
                <div class="row">
                    <div class="col-sm-4">Date:</div>
                    <div class="col-sm-8">{{ .Date.Format "January 2, 2006" }}</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">Technology:</div>
                    <div class="col-sm-8">
                        {{ range .Params.tags }}
                        <span class="tag">{{ . }}</span>
                        {{ end }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">Services:</div>
                    <div class="col-sm-8 text-start local-scroll">
                        {{ with .Params.livesite }}
                        <a href="{{ . }}" class="btn btn-mod btn-border-w btn-large btn-circle">Live Website</a>
                        {{ end }}
                        {{ with .Params.repository }}
                        <a href="{{ . }}" class="btn btn-mod btn-border-w btn-large btn-circle">View in Repo</a>
                        {{ end }}
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <h2 class="h3 font-alt mb-20">Description</h2>
                {{ .Description }}
            </div>
        </div>

        <div class="mb-80 mb-sm-40">
            <div class="mb-n30">
                {{ range .Params.images }}
                <div class="mb-30">
                    <img src="{{ .src }}" alt="{{ .alt }}" class="img-fluid">
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

<!-- Divider -->
<hr class="mt-0 mb-0 white" />
<!-- End Divider -->

{{ partial "related.html" . }}

{{ end }}