<!-- Contact Section -->
<section class="page-section bg-dark-1 light-content" id="contact">
    <div class="container">

        <div class="row mb-90 mb-sm-50">

            <div class="col-lg-5 col-xl-4 mb-md-90 mb-sm-50 wow fadeInUp">
                <h2 class="section-title-strong mb-40">Let's work <span class="font-alt">together</span>
                </h2>
                <p class="mb-0">Ready to bring your ideas to life? I'm here to help turn your vision into reality. Whether you need a stunning effective website, an MVP or a full-fledged web application, or consultation, let's collaborate.</p>
            </div>

            <div class="col-lg-7 offset-xl-1">
                <div class="round overflow-hidden">
                    <img src="/images/section-image-5.jpg" alt="Image Description" class="wow scaleOutIn"
                        data-wow-offset="110" />
                </div>
            </div>

        </div>

        <div class="row wow fadeInUp" data-wow-delay="0.27s">

            <!-- Contact Info -->
            <div class="col-lg-12 col-xl-12 mb-md-90 mb-sm-50">
                <div class="contact-2">

                    <!-- Contact Info Item -->
                    <div class="contact-2-item">
                        <div class="contact-2-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="44" height="64" viewBox="0 0 44 64"
                                aria-hidden="true">
                                <path
                                    d="M42 42c2 2 3.25 4.375 0 8.25-3.125 3.75-5.25 3.75-8 3.75-3 0-7.25-1.75-11.625-5-4-2.875-5.75-4.25-9.75-8.375-4.25-4.375-6.875-8-9.875-13.375-3.375-6.25-3-9.25-2.25-11.5 0.5-1.5 1.75-3 3.5-4.125l0.125-0.125c0.75-0.5 2.25-1.5 4-1.5 1.625 0 3 0.75 4.25 2.25l0.125 0.125c1.375 1.75 3 3.875 4 5.875 1.25 2.625 1.25 4.75-0.125 6.625-1.125 1.5-1.5 2.375-1.5 2.875s0.625 1.125 1.625 2.25l0.125 0.125c2 2.25 2.5 2.875 3.25 3.625 0.125 0.125 0.375 0.25 0.5 0.375l0.25 0.25c0.875 0.875 1.375 1.5 3.625 3.5l0.125 0.125c0.875 0.75 1.125 1 1.5 1 0.625 0 2-0.875 3.625-1.875 0.5-0.375 1.375-0.625 2.125-0.625 3.375 0 8.5 3.625 10.375 5.5z">
                                </path>
                            </svg>
                        </div>
                        <div class="contat-2-intro">
                            <h4 class="contact-2-title">Call <span class="font-alt">me</span></h4>
                            <div class="contact-2-text">
                                <a href="tel:+14315880196">+1 (431) 588 0196</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Contact Info Item -->

                    <!-- Contact Info Item -->
                    <div class="contact-2-item">
                        <div class="contact-2-icon">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="48" height="64"
                                viewBox="0 0 48 64" aria-hidden="true">
                                <path
                                    d="M48 48h-48v-30.25l16.375 12.5-8.5 9.625 0.25 0.25 9.875-8.75 6 4.625 6-4.625 9.875 8.75 0.25-0.25-8.5-9.625 16.375-12.5v30.25zM47 16l-23 17.5-23-17.5h46z">
                                </path>
                            </svg>
                        </div>
                        <div class="contat-2-intro">
                            <h4 class="contact-2-title">Say <span class="font-alt">hello</span></h4>
                            <div class="contact-2-text">
                                <a href="mailto:mail@donaldobi.com">mail@donaldobi.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- End Contact Info Item -->

                    <!-- Contact Info Item -->
                    <div class="contact-2-item">
                        <div class="contact-2-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="64" viewBox="0 0 40 64"
                                aria-hidden="true">
                                <path
                                    d="M20 4c11 0 20 8.875 20 19.625 0 14.75-20 36.375-20 36.375s-20-21.625-20-36.375c0-10.75 9-19.625 20-19.625zM20 30.625c4 0 7.125-3.125 7.125-7s-3.125-7-7.125-7-7.125 3.125-7.125 7 3.125 7 7.125 7z">
                                </path>
                            </svg>
                        </div>
                        <div class="contat-2-intro">
                            <h4 class="contact-2-title">Location</h4>
                            <div class="contact-2-text">
                                Winnipeg, Manitoba, Canada
                            </div>
                        </div>
                    </div>
                    <!-- End Contact Info Item -->

                </div>
            </div>
            <!-- End Contact Info -->

        </div>

    </div>
</section>
<!-- End Contact Section -->