<!-- Divider -->
<hr class="mt-0 mb-0 white" />
<!-- End Divider -->


<!-- Call Action Section -->
<section class="page-section bg-dark-1 light-content" style="background-image: url(/images/section-bg-2.jpg)">
    <div class="container position-relative">
        <!-- Decorative Waves -->
        <div class="position-relative">
            <div class="decoration-21 d-none d-lg-block" data-rellax-y data-rellax-speed="0.7"
                data-rellax-percentage="0.5">
                <img src="/images/decoration-3-white.svg" alt="" />
            </div>
        </div>
        <!-- End Decorative Waves -->
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 wow fadeInUp">

                <h2 class="section-title text-center mb-40">Looking to start a web project?</h2>
                <div class="text-center">
                    <a href="#contact" class="opacity-1 no-hover">
                        <span class="btn btn-mod btn-border-w btn-large btn-circle" data-btn-animate="y">Get in
                            touch</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Call Action Section -->