<footer class="page-section footer-2 bg-dark-2 light-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center text-lg-start mb-md-50">
                <div>© Donald Obi {{ now.Format "2006" }}.</div>
            </div>
            
            <div class="col-lg-6 fw-social-inline text-center mb-md-40">
                <div class="fw-social-inline-item">
                    <a href="https://bitbucket.org/obidonald/workspace/repositories" data-btn-animate="y" class="link-hover-anim align-middle" target="_blank">Bitbucket</a>
                </div>
                <div class="fw-social-inline-item">
                    <a href="https://github.com/donaldobi" class="link-hover-anim" data-btn-animate="y" target="_blank">Github</a>
                </div>
                <div class="fw-social-inline-item">
                    <a href="https://design.donaldobi.com" class="link-hover-anim" data-btn-animate="y" target="_blank">Design</a>
                </div>
                <div class="fw-social-inline-item">
                    <a href="https://marketing.donaldobi.com" class="link-hover-anim" data-btn-animate="y" target="_blank">Marketing</a>
                </div>
                <div class="fw-social-inline-item">
                    <a href="https://linkedin.com/in/obidonald" class="link-hover-anim" data-btn-animate="y" target="_blank">LinkedIn</a>
                </div>
            </div>
            
            <div class="col-lg-3 text-center text-lg-end local-scroll">
                <a href="#top" class="fw-top-link">
                    <span class="fw-top-link-underline">Back to top</span>
                    <span class="icon ms-1">
                        <i class="icon-arrow-up size-17"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</footer>