<footer class="page-section bg-dark-1 light-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center text-lg-start mb-md-50">
                <div>
                    © Donald Obi {{ now.Format "2006" }}.
                </div>
            </div>
            
            <div class="col-lg-6 fw-social-inline text-center mb-md-40">
                <div class="fw-social-inline-item">
                    <a href="#" class="link-hover-anim align-middle" target="_blank" rel="nofollow noopener" data-link-animate="y">Bitbucket</a>
                </div>
                <div class="fw-social-inline-item">
                    <a href="#" class="link-hover-anim" target="_blank" rel="nofollow noopener" data-link-animate="y">Github</a>
                </div>
                <div class="fw-social-inline-item">
                    <a href="https://donaldobi.com" class="link-hover-anim" target="_blank" rel="nofollow noopener" data-link-animate="y">Main Website</a>
                </div>
                <div class="fw-social-inline-item">
                    <a href="#" class="link-hover-anim" target="_blank" rel="nofollow noopener" data-link-animate="y">LinkedIn</a>
                </div>
            </div>
            
            <div class="col-lg-3 text-center text-lg-end local-scroll">
                <a href="#top" class="fw-top-link">
                    <span class="fw-top-link-underline">Back to top</span>
                    <span class="icon ms-1"></span>
                </a>
            </div>
        </div>
    </div>
</footer>