<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="">
<meta name="author" content="">

<title>{{ .Title }}</title>

<!-- Favicons -->
<link rel="shortcut icon" href="/images/favicon.png">

<!-- CSS -->
<link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/style-responsive.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/vertical-rhythm.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/icomoon.css" | relURL }}">