            <!-- Home Hero Section -->
            <section class="home-section bg-dark-alpha-30 light-content parallax-5"
                style="background-image: url(/images/section-bg-13.jpg)" id="home">
                <div class="container min-height-100vh d-flex align-items-center pt-100 pb-100 pt-sm-120 pb-sm-120">

                    <!-- Home Hero Section Content -->
                    <div class="home-content text-center">

                        <h1 class="hs-title-5 mb-40">
                            <span class="hs-title-5 font-alt overflow-hidden">
                                Web Development &amp; <span class="font-alt">Design</span> Projects.
                            </span>
                        </h1>

                        <div class="row">
                            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                                <hr class="white mt-0 mb-30" />
                                <div class="row">
                                    <div class="col-sm-6 col-md-7 text-center text-sm-start mb-xs-30">
                                        <p class="mb-0">
                                            Some of my more recent website development and design projects.
                                        </p>
                                    </div>
                                    <div class="col-sm-6 col-md-5 text-center text-sm-end local-scroll">
                                        <a href="#portfolio" class="opacity-1 no-hover">
                                            <span class="btn btn-mod btn-border-w btn-large btn-circle"
                                                data-btn-animate="y">View Projects
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Home Hero Section Content -->

                    <!-- Scroll Down -->
                    <div class="local-scroll scroll-down-wrap-4 wow fadeInUp" data-wow-offset="0">
                        <div class="full-wrapper text-end">
                            <a href="#portfolio" class="scroll-down-4" aria-label="Scroll down to portfolio section">
                                <i class="icon-arrow-down" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <!-- End Scroll Down -->

                    <!-- Status -->
                    <div class="hs-status uppercase wow fadeInUp" data-wow-offset="0">
                        Winnipeg, Manitoba Canada.
                    </div>
                    <!-- End Status -->

                </div>
            </section>
            <!-- End Home Section -->
