<nav class="main-nav-sub full-wrapper">
    <div class="nav-logo-wrap local-scroll">
        <a href="/" class="logo">
            <img src="images/logo-white.svg" alt="Logo" width="84" height="33">
        </a>
    </div>
    
    <div class="mobile-nav" role="button" tabindex="0">
        <span class="visually-hidden">Menu</span>
    </div>
    
    <div class="inner-nav desktop-nav">
        <ul class="clearlist">
            <li><a href="/" class="active" data-btn-animate="y">Home</a></li>
            <li><a href="/#portfolio" data-btn-animate="y">Portfolio</a></li>
            <li><span class="vr white"></span></li>
            <li class="mn-has-sub">
                <a href="#" class="opacity-1" data-btn-animate="y">Repositories<span class="mx-2"></span></a>
                <ul class="mn-sub">
                    <li><a href="https://bitbucket.org/obidonald">Bitbucket</a></li>
                    <li><a href="https://github.com/donaldobi">Github</a></li>
                </ul>
            </li>
            <li><span class="vr white"></span></li>
            <li>
                <a href="/#contact" class="btn btn-mod btn-border-w btn-small btn-circle opacity-1 no-hover" data-btn-animate="y" portfolio-item="" rel="nofollow noopener">
                    Contact Me
                </a>
            </li>
        </ul>
    </div>
</nav>