<!-- Home Section -->
<section class="page-section bg-dark-alpha-50 parallax-5 light-content"
    style="background-image: url(/images/section-bg-4.jpg)" id="home">
    <div class="container position-relative pt-20 pt-sm-40">


        <div class="mb-20">
            <a href="#" class="btn btn-mod btn-small btn-border-w btn-circle" data-btn-animate="y"><i
                    class="icon-arrow-left2"></i> Back to portfolio</a>
        </div>

        <h1 class="hs-title-2 font-alt uppercase mb-0">
            <span>
                {{ .Title }}
            </span>
            <span class="section-title-image">
                <img src="/images/shape-2.svg" alt="" />
            </span>
        </h1>

    </div>
</section>
<!-- End Home Section -->